<div class="container messagebox">
  <div class="row">
    <div class="col-xs-12">

		</br>
		<p id="notice"><%= notice %></p>

		<p class="font24">Thank you. We will read your message and provide a response if one was requested.<p>
			
		<p class="font24">We pray that MDN is providing value to you and your Church.<p>

    </div>
  </div>
</div>