<div class="row">
  <div class="col-xs-1"></div>
    <div class="col-xs-10">
<header><h2>Volunteer with MDN!</h2></header>

<% if @jobs.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Volunteer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td><%= job.volunteer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% else %>
  <h3>There are no opportunities to volunteer at this time. Please check back again as opportunities open up with over the course of the year. Thank you for your willingness to come alongside us to assist. It is much appreciated!</h3>
</br>
<% end %>
    </div>
  <div class="col-xs-1"></div>
</div>

