<section class="rev_slider_wrapper banner-section">
	<div class="rev_slider banner-slider">
		<ul>
			<!-- SLIDE  -->
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-2" >
					<!-- MAIN IMAGE -->
					<%= image_tag("photos/training.jpg", alt: "banner", data-bgfit: "cover", data-bgposition: "left top", data-bgrepeat: "no-repeat") %>

					<div
					data-endspeed="500"
					data-easing="easeOutCirc"
					data-start="500"
					data-speed="500"
					data-y="406"
					data-x="152"
					class="tp-caption sfb feature-btn ">
						<span class="btn btn-warning btn-sm">FEATURED CAUSE</span>
					</div>
					<div
					data-endspeed="800"
					data-easing="easeOutCirc"
					data-start="800"
					data-speed="500"
					data-y="448"
					data-x="152"
					class="tp-caption sfb">
						<div class="trans-grey"></div>
					</div>
					<div
					data-endspeed="1500"
					data-easing="easeOutCirc"
					data-start="1500"
					data-speed="1000"
					data-y="466"
					data-x="177"
					class="tp-caption banner-heading bottom-animation text-white sfb">
						<h2 class="h1"><strong>Donate &amp; Help</strong>
						
						African Children for Education</h2>
					</div>
					<div
					data-endspeed="1700"
					data-easing="easeOutCirc"
					data-start="1700"
					data-speed="700"
					data-y="550"
					data-x="177"
					class="tp-caption sfb donate-button">
						<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn-link">Donate NOW</a>
					</div>
			</li>
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag("photos/weapons.jpg", alt: "banner", data-bgfit: "cover", data-bgposition: "center 36%", data-bgrepeat: "no-repeat") %>

				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				data-y="103"
				data-x="152"
				class="tp-caption sft banner-feaure">
					<span class="btn btn-bg">FEATURED CAUSE</span>
				</div>

				<div
				data-endspeed="800"
				data-easing="easeOutCirc"
				data-start="800"
				data-speed="700"
				data-y="150"
				data-x="152"
				class="tp-caption sft third-style banner-heading banner-title">
					<h2><strong>Donate &amp; Help</strong>
					
					African Children for
					
					Education</h2>
				</div>
				<div
				data-endspeed="1000"
				data-easing="easeOutCirc"
				data-start="1000"
				data-speed="700"
				data-y="244"
				data-x="152"
				class="tp-caption sft third-style banner-summary banner-description">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
						Pellentesque egestas nisl at dui tempus.There are many
						
						variations of passages of .
					</p>
				</div>

				<div
				data-endspeed="1200"
				data-easing="easeOutCirc"
				data-start="1200"
				data-speed="700"
				data-y="354"
				data-x="152"
				class="tp-caption sft banner-btn">
					<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default clear_btn">Donate NOW</a>
				</div>
			</li>
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag("photos/dbc_alter_call.jpg", alt: "banner", data-bgfit: "cover", data-bgposition: "center 36%", data-bgrepeat:"no-repeat" )>

				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				data-y="103"
				data-x="152"
				class="tp-caption sft banner-feaure">
					<span class="btn btn-bg">FEATURED CAUSE</span>
				</div>

				<div
				data-endspeed="800"
				data-easing="easeOutCirc"
				data-start="800"
				data-speed="700"
				data-y="150"
				data-x="152"
				class="tp-caption sft third-style banner-heading banner-title">
					<h2><strong>Donate &amp; Help</strong>
					
					African Children for
					
					Education</h2>
				</div>
				<div
				data-endspeed="1000"
				data-easing="easeOutCirc"
				data-start="1000"
				data-speed="700"
				data-y="244"
				data-x="152"
				class="tp-caption sft third-style banner-summary banner-description">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
						Pellentesque egestas nisl at dui tempus.There are many
						
						variations of passages of .
					</p>
				</div>

				<div
				data-endspeed="1200"
				data-easing="easeOutCirc"
				data-start="1200"
				data-speed="700"
				data-y="354"
				data-x="152"
				class="tp-caption sft banner-btn">
					<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default clear_btn">Donate NOW</a>
				</div>
			</li>
		</ul>
	</div>
</section>