<section class="rev_slider_wrapper banner-section">
	<div class="rev_slider banner-slider">
		<ul>
			<!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/man_worshipping.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				</div>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				data-y="103"
				data-x="152"
				class="tp-caption sft banner-feaure">
					<span class="btn btn-bg">DISCIPLESHIP BOOT CAMP</span>
				</div>

				<div
				data-endspeed="800"
				data-easing="easeOutCirc"
				data-start="800"
				data-speed="700"
				data-y="150"
				data-x="152"
				class="tp-caption sft third-style banner-heading banner-title trans-grey">
					<h2><strong>Prepare. Train. Live.</strong>
					
					When I Became a Man…The Epic Journey – April 1st. Register today!</h2>
				</div>
			</li>

			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/men_engaged.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				</div>
			</li>

			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/dbc_worship.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
					data-endspeed="500"
					data-easing="easeOutCirc"
					data-start="500"
					data-speed="500"
					data-y="355"
					data-x="152"
					class="tp-caption sfb feature-btn ">
						<a data-toggle="modal" href="http://whenibecameaman.eventzilla.net"><span class="btn btn-warning btn-sm">APRIL 1, 2017</span></a>
					</div>
					<div
					data-endspeed="800"
					data-easing="easeOutCirc"
					data-start="800"
					data-speed="500"
					data-y="410"
					data-x="152"
					class="tp-caption sfb">
						<div class="trans-grey"></div>
					</div>
					<div
					data-endspeed="1500"
					data-easing="easeOutCirc"
					data-start="1500"
					data-speed="1000"
					data-y="420"
					data-x="177"
					class="tp-caption banner-heading bottom-animation text-white sfb">
						<h2 class="h1"><strong>Discipleship Boot Camp</strong>
						
						Ignite Your Revolution</h2>
					</div>
			</li>

			<li data-transition="random" data-slotamount="7" data-masterspeed="500" class="slide-3">
				<!-- MAIN IMAGE -->
				<%= image_tag "photos/men_praying.jpg", alt: "banner", data: { bgfit: "cover", bgposition: "center 36%", bgrepeat: "no-repeat" } %>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-speed="700"
				</div>
			</li>



        </ul>
	</div>

</section>