<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="footer-logo">
					<a href="/" title="Welcome to Charity"><%= image_tag('logos/mdn_logo_wh_240.png') %></a>
				</div>
				<p>
					MDN is a 501c3 non-profit organization established to set men and their families free from the lies they believe and then live, so they can discover their true purpose for living.
				</p>
				<address>
					<span> <i class="fa fa-home"></i> <span>27 Grand Ave. Farmingdale, NY 11735</span> </span>
					<span> <i class="fa fa-phone-square"></i> <span>+1 631 753 1244</span> </span>
					<span> <i class="fa fa-envelope"></i> <span><a href="mailto:info@mensdiscipleshipnetwork.com">info@mensdiscipleshipnetwork.com</a></span> </span>
				</address>

			</div>
			<div class="col-xs-12 col-sm-4 twitter-update">
				<!-- <h6>Twitter Feed</h6>
				<p>
					<%#= render 'shared/tweets' %>
					<a href="#"> <span class="charity">@mdncoach</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
				</p> -->
				<!-- <p>
					<a href="#"> <span class="charity">@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
				</p> -->
			</div>
			<div class="col-xs-12 col-sm-4">
				<h6>Newsletter Signup</h6>
				<p>Keep informed on MDN events, workshops, and resources.</p>
				<p class="text-left">
					<a data-toggle="modal" href="http://eepurl.com/cdAGvT" class="btn btn-default btn-lg join-today">SUBSCRIBE</a>
				</p>
			</br>
			</br>
				<!-- <form role="form" class="sign-up">

					<div class="input-group">
						<input class="form-control" type="email" placeholder="Email">
						<div class="input-group-addon">
							<input type="submit" class="btn btn-theme" value="Submit">
						</div>
					</div>

				</form> -->

				<h6>Follow us</h6>
				<ul class="social-icons">
					<li>
						<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<span> &copy; Copyright 2014, All Rights Reserved by Men's Discipleship Network.
						</span>
				</div>
			</div>
		</div>
	</div>
</footer>