	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Men's Discipleship Network</title>
	<meta name="description" content="MDN">
	<meta name="author" content="Steve Cervera">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>


	  <%= stylesheet_link_tag  'application', media: 'all', debug: true %>
	  <%= csrf_meta_tags %>