<div class="content-wrapper container" id="page-info">
	<div class="row">
		<!-- <div class="col-xs-1"></div> -->
		<div class="col-xs-12">
			<header class="story-heading section-header">
					<h2>Missed the Event? <strong class="">Get the Audio!</strong></h2>
			</header>

			<article class="blog blog-details anim-section">
				
					<div class="col-xs-12 caption">
						<%= image_tag ('dropcard-2017-banner.jpg') %>
				    </div>
					<div class="col-xs-12 caption">

						<div>
							<p style="font: Audiowide; font-size: 18px;">If you missed the Men’s Discipleship Boot Camp on April 1, 2017, we have good news for you. You can order all the audio from the action packed event and breakout sessions. This year's event was titled “When I Became a Man: The Epic Journey" and was filled with powerful, "man-changing" content for Christian men. We were honored this year to have as our keynote speaker baseball champion, Darryl Strawberry. We also had a line-up of the nation’s top men’s speakers and men from all over the tri-state area gathered to hear “Truth that Transforms and Training that Sustains”.  Due to the overwhelming response for the speakers’ sessions at this packed event, we are providing the audio recording of every keynote speaker and breakout session with a suggested donation of $15.</p>

							<p style="font: Audiowide; font-size: 24px; text-align: center;">Call Men’s Discipleship Network at 631-753-1244 to purchase your Audio Access Card!</p>
					    </div>
					    <div>
							<h1><span style="font-size: 20px;">Included on Card:</span></h1>
							<ul class="square-list padding20">
				              <li>Morning Keynote Message <span style="font-style: italic; font-size: 14px">with speaker Dr. A.R. Bernard</span></li>
				              <li>Afternoon Keynote Message <span style="font-style: italic; font-size: 14px">with speaker and baseball legend Darryl Strawberry</span></li>
				              <li>“When I Became a Man: The Epic Journey” <span style="font-style: italic; font-size: 14px">with speaker Men’s Pastor, Scott Caesar</span></li>
							</ul>
			            </div>
			            <div>
							<h1><span style="font-size: 20px;">Breakout Sessions:</span></h1>
							<ul class="square-list padding20">
								<li>“Habits of the Mind” <span style="font-style: italic; font-size: 14px">with speaker Bishop Roderick Caesar</span></li>
								<li>“Things Women Want from a Man"<span style="font-style: italic; font-size: 14px">with speaker Dr. Caswell Morgan</span></li>
								<li>“Sex & The City: Wallet, Woman & Wide World of Sports” <span style="font-style: italic; font-size: 14px">with speaker Pastor Craig Holliday</span></li>
								<li>“The Bible & Man: Training Yourself in Godliness” <span style="font-style: italic; font-size: 14px">with speaker Dan Buttafuoco</span></li>
								<li>“Faithful Fathering: Raising Great Kids” <span style="font-style: italic; font-size: 14px">with speaker Pastor Dominick Cotignola</span></li>
								<li>“Money Matters: Pocket Full of Holes” <span style="font-style: italic; font-size: 14px">with speaker Rev. Dave Nuzzolo</span></li>
								<li>“Emerging Men (Young Men)"<span style="font-style: italic; font-size: 14px">with speaker Pastor Jamaal Bernard</span></li>
								<li>“Leadership – Men Leading Men"<span style="font-style: italic; font-size: 14px">with speaker Dr. Duane Durst</span></li>
							</ul>
					    </div>

						<% if audio_card_display %>
							<h2>Suggested Donation: $15</h2>
							<p>Please call Men’s Discipleship Network at 631-753-1244 to purchase your Audio Access Card.
						    
							If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN. 
							</p></br>
							<div style="text-align:center">
								<iframe src="http://www.dropcards.com/download/profilewidget/?ArtistID=41394" width="400" height="205"
				 				scrolling="no" frameborder="0" allowtransparency="true" style='width: 400px; height: 205px; background: none;'></iframe>
							</div>
						<% else %>
							<p style="font: Audiowide; font-size: 18px;">Please call Men’s Discipleship Network at 631-753-1244 to get your Audio Access Card with a suggested donation of $15.	If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN.</p>

						   	<h2>If you have already received an Audio Access Card, you may begin downloading the event audio at 12PM EST on April 12, 2016. Thank you for your patience.</h2><h2> Don't lose your card with the access code! You will need it to access the audio.</h2>
					    <% end %>
					</div>
				</div>
			</article>
		</div>
		<!-- <div class="col-xs-1"></div> -->
	</div>
</div>






