<div class="content-wrapper container" id="page-info">
	<div class="row">
		<!-- <div class="col-xs-1"></div> -->
		<div class="col-xs-12">
			<header class="story-heading section-header">
					<h2>Missed the Event? <strong class="">Get the Audio!</strong></h2>
			</header>

			<article class="blog blog-details anim-section">
				
                
				<p style="font: Audiowide; font-size: 18px;">Please call Men’s Discipleship Network at 631-753-1244 to get your Audio Access Card with a suggested donation of $15.	If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN.</p>
					<div class="col-xs-12 caption">
						<%= image_tag ('bootcamp/dropcard-2018-banner.jpg') %>
				    </div>
					<div class="col-xs-12 caption">

						<div>
							<p style="font: Audiowide; font-size: 18px;">If you missed the Men’s Discipleship Boot Camp on April 21, 2018, we have good news for you. You can order all the audio from the action packed event and breakout sessions. This year's event was titled “Who Told You That? The Lies Men Believe" and was filled with powerful, "man-changing" content for Christian men. We were honored this year to have as our keynote speaker baseball legend, Mariano Rivera. We also had a line-up of the nation’s top men’s speakers and men from all over the tri-state area gathered to hear “Truth that Transforms and Training that Sustains”.  Due to the overwhelming response for the speakers’ sessions at this packed event, we are providing the audio recording of every keynote speaker and breakout session with a suggested donation of $15.</p>

							<p style="font: Audiowide; font-size: 22px; text-align: center;">Call Men’s Discipleship Network at 631-753-1244 to get your Audio Access Card - suggested donation - $15!</p>
					    </div>
					    <% if audio_card_display_2018 %>
						    <div style="text-align:center">
									<iframe src="https://www.dropcards.com/download/profilewidget/?ArtistID=51694" width="400" height="205" scrolling="no" frameborder="0" allowtransparency="true" style='width: 400px; height: 205px; background: none;'></iframe>
							</div>
						<% end %>
						<h1><span style="font-size: 28px;">Included on Card:</span></h1>
					    <div>
							<h1><span style="font-size: 22px;">Keynote Speakers</span></h1>
							<ul class="square-list padding20 font20">
				              <li>“Who Told You That? The Lies Men Believe” <span style="font-style: italic; font-size: 14px">with speaker Men’s Pastor, Scott Caesar</span></li>
				              <li>"Believe a Lie and Something in You Will Die" <span style="font-style: italic; font-size: 14px">with speaker Pastor Gary Zarlengo</span></li>
				              <li>Keynote Speaker <span style="font-style: italic; font-size: 14px">with speaker Yankee Mariano Rivera</span></li>
							</ul>
			            </div>
			            <div>
							<h1><span style="font-size: 22px;">Morning Breakout Sessions</span></h1>
							<ul class="square-list padding20 font20">
								<li>“Success - Your Work Matters to God!” <span style="font-style: italic; font-size: 14px">with speaker Dr. McKenzie Pier</span></li>
								<li>“Healing the Wounds of Life & War"<span style="font-style: italic; font-size: 14px">with speaker Mike Hutchings</span></li>
								<li>“Building Your Marriage Survival Kit” <span style="font-style: italic; font-size: 14px">with speaker Pastor Ted Bichsel</span></li>
								<li>“Experiencing the Power of The Father's Love” <span style="font-style: italic; font-size: 14px">with speaker Craig Miller</span></li>
								<li>“The First Hour for Men - Prayer” <span style="font-style: italic; font-size: 14px">with speaker Koch</span></li>
								<li>“Dad Manifesto- 52 Things Kids Need from a dad” <span style="font-style: italic; font-size: 14px">with speaker Jay Payleitner.</span></li>
								<li>“Not Just Another Guy: Attractive Manhood (Young Men)"<span style="font-style: italic; font-size: 14px">with speaker Pastor Steve Milazzo</span></li>
								<li>“How to Disciple Men: Leadership (Pastors /Leaders)"<span style="font-style: italic; font-size: 14px">with speaker Men’s Pastor, Scott Caesar</span></li>
							</ul>
							<h1><span style="font-size: 22px;">Afternoon Breakout Sessions</span></h1>
							<ul class="square-list padding20 font20">
								<li>“Hearing God's Will for You through the Bible” <span style="font-style: italic; font-size: 14px">with speaker Pastor Jamaal Bernard </span></li>
								<li>“Sex, Love & Lust - A Man's Guide” <span style="font-style: italic; font-size: 14px">with speaker Pastor Bobby Lloyd</span></li>
								<li>“Healing the Wounds of Life & War ” <span style="font-style: italic; font-size: 14px">with speaker Dr. Mike Hutchings</span></li>
								<li>“The Power to Change: The Spirit-Filled Man” <span style="font-style: italic; font-size: 14px">with speaker Pastor Dominick Cotignola</span></li>
								<li>“Experiencing the Power of The Father's Love” <span style="font-style: italic; font-size: 14px">with speaker Dr. Craig Miller</span></li>
								<li>“Building the Body:How Discipline & Discipleship Become One” <span style="font-style: italic; font-size: 14px">with speaker Pastor Anthony Pelella </span></li>
								<li>“The First Hour for Men ” <span style="font-style: italic; font-size: 14px">with speaker Koch</span></li>
								<li>“Dad Manifesto- 52 Things Kids Need from a Dad” <span style="font-style: italic; font-size: 14px">with speaker Jay Payleitner </span></li>
								<li>“Not Just Another Guy: Attractive Manhood (Young Men)” <span style="font-style: italic; font-size: 14px">with speaker Pastor Stephen Zarlengo</span></li>
							</ul>
					    </div>
					</br>

						<% if audio_card_display_2018 %>
							<h2>Suggested Donation: $15</h2>
							<p>Please call Men’s Discipleship Network at 631-753-1244 to purchase your Audio Access Card.
						    
							If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN. 
							</p></br>
							<div style="text-align:center">
								<iframe src="https://www.dropcards.com/download/profilewidget/?ArtistID=51694" width="400" height="205" scrolling="no" frameborder="0" allowtransparency="true" style='width: 400px; height: 205px; background: none;'></iframe>
							</div>
						<% else %>
							<p style="font: Audiowide; font-size: 18px;">Please call Men’s Discipleship Network at 631-753-1244 to get your Audio Access Card with a suggested donation of $15.	If you purchased an audio access card, please refer to the back of the card for the access code and enter it in the location below to begin downloading the audio of the event. Thank you for supporting MDN.</p>

						   	<h2>If you have already received an Audio Access Card, you may begin downloading the event audio on April 24, 2018. Thank you for your patience.</h2><h2> Don't lose your card with the access code! You will need it to download the audio files.</h2>
					    <% end %>
					</div>
				</div>
			</article>
		</div>
		<!-- <div class="col-xs-1"></div> -->
	</div>
</div>






