		<!-- Our Team Section Start Here -->
		<div class="container">
			<div class="our-team text-center row">
				<div class="col-xs-12">
					<header class="team-info section-header">
						<h2>We are Real. <strong class="border-none">Meet the Team</strong></h2>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member1.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>Jhony Waker</h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member2.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>Tony Vedvik</h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member3.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>John Doe </h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<img src="assets/img/team-member4.jpg" alt="">
								</figure>
								<div class="caption">
									<h3>Bryant Cranford</h3>
									<ul class="social-icons">
										<li>
											<a href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-pinterest"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-google-plus"></i></a>
										</li>
										<li>
											<a href="#"><i class="fa fa-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Our Team Section Start Here -->