		<!-- Our Team Section Start Here -->
		<div class="container">
			<div class="our-team text-center row">
				<div class="col-xs-12">
					<header class="team-info section-header">
						<h2>We are blessed to receive wise and godly council from the <strong class="border-none">MDN Elder Board</strong></h2>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/ar_bernard.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Dr. A.R. Bernard</h3>
									<p>A.R. Bernard is the Founder, Senior Pastor, and CEO of Christian Cultural Center (CCC) located in Brooklyn, NY. With an 11.5 acre campus and a registered membership of over 37,000 Dr. A.R. Bernard is also the President of the Council of Churches of the City of New York prepresenting 1.5 million Protestants, Anglicans, and Orthodox Christians. Dr. Bernard and our founder, Scott Caesar, share a relationship that spans over fifteen years as well as a common mentor and spiritual father in the late Dr. Edwin Louis Cole.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/bishop_caesar.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Bishop Roderick Caesar</h3>
									<p>A.R. Bernard is the Founder, Senior Pastor, and CEO of Christian Cultural Center (CCC) located in Brooklyn, NY. With an 11.5 acre campus and a registered membership of over 37,000 Dr. A.R. Bernard is also the President of the Council of Churches of the City of New York prepresenting 1.5 million Protestants, Anglicans, and Orthodox Christians. He has a Master of Urban Studies and a Master of Divinity from Alliance Theological Seminary. He has been awarded an Honorary Doctorate of Humane Letters from Wagner College, May 2010, and an honorary Doctor of Divinity degree from Nyack College/Alliance Theological Seminary, May 2009. Dr. Bernard and our founder, Scott Caesar, share a relationship that spans over fifteen years as well as a common mentor and spiritual father in the late Dr. Edwin Louis Cole.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/galloway.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Mr. Richard Galloway</h3>
									<p>Richard Galloway and his wife Dixie are co-founders of New York City Relief, a non-profit ministry created to feed and love the poor in New York City. Prior to being called by God to start feeding the hungry and homeless, Richard operated a chain of successful convenience stores. His other business ventures include banking, owning a computer business, commercial real estate, and building a Christian TV station. His own experience with being freed from drug and alcohol addiction, have given him a strong sense of hope and desire to help others in the same situation. His covenantal relationship with our founder, Scott Caesar, and MDN spans over twenty years.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/milazzo.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Pastor Steve Milazzo</h3>
									<p>Pastor Steve Milazzo is the elected Presbyter for the Assemblies of God New York Metro Region. He is also the Lead Pastor of the Bethlehem Assemblies of God church in Valley Stream, NY. He is a passionate communicator of the Gospel and the hope in Jesus Christ. His desire is to build leaders and equip churches to achieve their full redemptive potential in the Kingdom of God. His relationship with our founder, Scott Caesar, and MDN spans over ten years.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Our Team Section Start Here -->