		<!-- Our Team Section Start Here -->
		<div class="container">
			<div class="our-team text-center row">
				<div class="col-xs-12">
				</br>
					<header class="team-info story-heading section-header">
						<h2><strong>Elder Board</strong> Men’s Discipleship Network<sup>&#174;</sup></h2>
				    </header>
				    
					<div class="caption full">
									<p><span style="font-size: 18px;">The MDN Elder Board consists of mature, doctrinally sound leaders in the Christian community who share a passion for ministering to and discipling men. They each bring many years of experience ministering to the Church, and they provide spiritual counsel and oversight to Pastor Scott Caesar and the leadership of MDN. We are very pleased to have the following men on the Elder Board.</span></p></br>
								</div>
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/ar_bernard3.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Dr. A.R. Bernard</h3>
									<p>A.R. Bernard is the Founder, Senior Pastor, and CEO of Christian Cultural Center located in Brooklyn, NY, with a registered membership of over 37,000. Dr. A.R. Bernard is also the President of the Council of Churches of the City of NY representing 1.5 million Christians. Dr. Bernard and our founder Scott Caesar share a relationship as well as a common mentor and spiritual father in the late Dr. Edwin Louis Cole. He is married to his high school sweetheart, Karen and they have 7 sons.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/bishop_caesar.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Bishop Roderick Caesar</h3>
									<p>Bishop Roderick R. Caesar is the Senior Pastor of the Bethel Gospel Tabernacle. Bishop Caesar not only shepherds a congregation of 2000 members, he is the overseer of three branches of churches including a thriving church in Haiti. Bishop Caesar’s relationship with MDN spans over  fteen years. He is married to Beverly and they have 3 daughters and one miracle son.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/galloway.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Mr. Richard Galloway</h3>
									<p>Richard Galloway and his wife Dixie are co-founders of New York City Relief, a non-profit ministry created to feed and love the poor in New York City. Prior to being called by God to feed the hungry and homeless, Richard was a successful businessman. His covenantal relationship with our Founder Scott Caesar and MDN spans over twenty years.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 anim-section">
							<div class="thumbnail">
								<figure>
								<%=image_tag('photos/milazzo.jpg')%>
								
								</figure>
								<div class="caption full">
									<h3>Pastor Steve Milazzo</h3>
									<p>Pastor Steve Milazzo is a visionary leader with the Assemblies of God. He is also the Lead Pastor of the Bethlehem Assemblies of God church in Valley Stream, NY. His relationship with our founder, Scott Caesar and MDN spans over fifteen years. He is married to Lisa and has 3 daughters and 1 granddaughter.</p>
								</div>
							</div>
						</div>
					</div>
					</section class="live-comment">
						<article class="media comment margin-top-30 text-center">
			                <div class="media-body">
			                  <header>
			                    <h2 class="media-heading"><i class="fa fa-quote-left quote-mark"></i>Plans fail for lack of wisdom.<i class="fa fa-quote-right quote-mark"></i></h2>
			                  </header>
			                  <p><em>Proverbs 15:22</em></p>
			                </div>
			            </article>
					</section>
				</div>
			</div>
		</div>
		<!-- Our Team Section Start Here -->