<!-- <div class="container">
	<div class="row">
		<div class="col-xs-12 center">
			<h1 class="text-center">Leadership Training</h1></br>
			<p>Please pardon us as we construct this page. We are looking forward to telling you all about MDN's Leadership Training solutions to assist
				the local church prepare and develop leaders to effectively attract and disciple men as you grow your church.</p>

			<%#= image_tag("graphics/38910271_s.jpg") %>

		</div>
	</div>
</div> -->

<div class="container">
		<!-- Our Story Section Start Here -->
		<section class="our-story row">
			<div class="col-xs-12">
				<header class="story-heading section-header">
					<h2><strong>Teaching Men</strong> To Teach Men </h2>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<section class="slider-wrap flex-slide flexslider">
								<%= image_tag("photos/scott_caesar_bio.jpg") %>
						</section>
						<h2 class="text-center">
							Next Leadership Training Event June 10th in Syracuse, NY
		                </h2>
		                <p class="text-center">
		                    <a data-toggle="modal" href="http://events.eventzilla.net/e/mdn-weapons-intensive-at-syracuse-2138913779" class="btn btn-blue btn-lg">REGISTER</a>
		                </p>
						
					</div>
					<div class="col-xs-12 col-sm-7">
						<strong class="article-sammury">
								MDN Leadership Training				
						</strong>
						<p>
							MDN has been training men for over 20 years and there's a lot we've learned about training men. Men's Pastor, Scott Caesar, would like to share with you what he has found to be the most effective ways to reach and teach your men to strengthen themselves in the Lord. Check our <a href="/mdn_events">events schedule</a> to join us for a training event near you. 
						</p>
						<ul>
							<li>The Leader</li>
							<ul>
								<li>The Heart of the Leader</li>
								<li>The Head of the Leader</li>
								<li>The Hands of the Leader</li>
							</ul></br>
							<li>How Men Learn</li>
							<ul>
								<li>The Difference Between Men and Women</li>
								<li>Discipleship Coach/Teacher 5-Point Storyboard</li>
							</ul></br>
							<li>How To Raise Up Leaders</li>
							<ul>
								<li>Qualifications for a Leader/Teacher</li>
								<li>Choosing the Leader/Teacher</li>
								<li>Developing the Leader/Teacher</li>
							</ul></br>
							<li>How to Recruit Men</li>
							<ul>
								<li>The Five Touches</li>
								<li>Prepare A Game Plan</li>
							</ul></br>
							<li>MDN System of Male Discipleship: The New Score Card</li>
							<ul>
								<li>Intro to MDN Curriculum</li>
								<li>Objectives</li>
								<li>Teaching Points</li>
								<li>Spiritual Physics</li>
								<li>Rules of Engagement</li>
								<li>Man-Shops & Man-life Parables</li>
								<li>Questions Men Answer</li>
								<li>Power of Four</li>
							</ul></br>
							<li>How to Present the W.E.A.P.O.N.S.<sup>®</sup> Curriculum</li>
							<ul>
								<li>Word of God/Sword of Man</li>
								<li>Expunge/Exchange</li>
								<li>Association/Accountability</li>
								<li>Purpose/Provision</li>
								<li>Order/Oneness</li>
								<li>Names of God/Names of Man</li>
								<li>Strength/Significance (Sonship)</li>
							</ul></br>
						</ul>
						
					</div>
				</div>
			</div>
		</section>
</div>