<div id="main">
	<div class="content-wrapper" id="page-info">

		<!-- portfolio detail sections -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<header class="page-header section-header text-left">
						<h2>Experience a Sample of the W.E.A.P.O.N.S.<sup>&#174;</sup> Curriculum</h2>
					</header>

					<div class="portfolio-detail-description">
						<div class="videoWrapper">
							<iframe src="https://player.vimeo.com/video/170201561" width="auto" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
						</div>
						
						
						<div class="row portfolio-details">
							<div class="col-xs-12">

								<div class="detail-description" id="curriculum-summary">

									<!-- <strong class="detail-summary">
										All MDN curriculum videos are designed to provide clear, step-by-step instructions for how to lead and conduct each session of the 8 week training. 
									</strong> -->
									<p>
										Whether you are an experienced teacher or a newly drafted "men's leader", MDN's curriculum provides you with the tools you need to effectively engage, equip, and energize your men. We understand that men who have the responsibility for teaching are often unsure of what to do to reach and train their men. With 20 years of experience in ministry to men, MDN has developed curriculum that churches and their men can get excited about. It's inspired by Scripture, but taught by you! 
									</p>

							
                                    <h3>Featuring:</h3>
									<ul class="list-unstyled yello-icon">

										<li>Leader’s Teaching Points with simple session objectives and key words
</li>
										<li>Man-Life Parables and interactive workshops with discussion times</li>
										<li>Rules of Engagement Scriptures relevant for today’s man
</li>
										<li>A sustainable system of accountable brotherhood built to last
 </li>
										<li>A proven game plan of consistent bible engagement for your men
</li>
										<li>Access to streaming on-line video for further in-depth study
</li>
										
									</ul>

									<h3>Curriculum Session Titles:</h3>
									<ul class="list-unstyled yello-icon">
                                        <li>Introduction to the W.E.A.P.O.N.S. Curriculum </li>
										<li>Word of God: “Gentlemen This is a Football” </li>
										<li>Expunge: Habits that Hinder </li>
										<li>Association: The Precept of Permission</li>
										<li>Purpose: The Wallet, The Woman & The Wide World of Sports</li>
										<li>Order: Radically Balancing life </li>
										<li>Names of God: Knowing God </li>
										<li>Strength: The Upside Down Kingdom </li>
										<li>Bonus Session: How Men Learn </li>
										
									</ul>

									<a class="btn btn-default" href="/store">GET CURRICULUM NOW</a>



								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--  sections end -->

	</div>
</div>




