<div id="main">
	<div class="content-wrapper" id="page-info">

		<!-- portfolio detail sections -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<header class="page-header section-header text-left">
						<h2>Experience a Sample of the W.E.A.P.O.N.S.<sup>&#174;</sup> Curriculum</h2>
					</header>

					<div class="portfolio-detail-description">
						<div class="videoWrapper">
							<iframe src="https://player.vimeo.com/video/170201561" width="auto" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
						</div>
						
						
						<div class="row portfolio-details">
							<div class="col-xs-12">

								<div class="detail-description" id="curriculum-summary">

									<strong class="detail-summary">
										All MDN curriculum videos are designed to provide clear, step-by-step instructions for how to lead and conduct each session of the 8 week training. 
									</strong>
									<p>
										Whether you are an experienced teacher or a newly drafted "men's leader", MDN's curriculum provides you with the tools you need to effectively engage, equip, and energize your men to facilitate God's transformation of their lives. We understand that men who are responsible for teaching are often unsure of what to do to reach their men. With 20 years of experience ministery to men, MDN has developed a curriculum that churches and their men are going wild over. It's inspired by Scripture, but taught by you! Check out the video sample to get a flavor for what is provided in the curriculum. But please understand, there's far too much to see than what we can provide in this short sample. 
									</p>

									<p>
										The W.E.A.P.O.N.S.<sup>&#174;</sup> Curriculum is packaged in a kit that is packed with content to assist you in discipling your men. 
									</p>
                                    <h3>Included in the Kit:</h3>
									<ul class="list-unstyled yello-icon">

										<li>8 Session Instructional DVDs</li>
										<li>Bonus DVD on "How Men Learn"</li>
										<li>2 Leader’s Guides</li>
										<li>1 Participant’s Manual </li>
										<li>Promotional Invitation Postcards</li>
										<li>Promotional DVD</li>
										<li>2 Promotional Posters</li>
										<li>Certificate of Completion </li>
									</ul>

									<h3>Curriculum Session Titles:</h3>
									<ul class="list-unstyled yello-icon">
                                        <li>Introduction to the W.E.A.P.O.N.S. Curriculum </li>
										<li>Word of God: “Gentlemen This is a Football” </li>
										<li>Expunge: Habits that Hinder </li>
										<li>Association: The Precept of Permission</li>
										<li>Purpose: The Wallet, The Woman & The Wide World of Sports</li>
										<li>Order: Radically Balancing life </li>
										<li>Names of God: Knowing God </li>
										<li>Strength: The Upside Down Kingdom </li>
										<li>Bonus Session: How Men Learn </li>
										
									</ul>

									<a class="btn btn-default" href="/contact_us">CONTACT US TO BUY NOW</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--  sections end -->

	</div>
</div>




