	
<div id="main">

	<!-- banner slider Start Here -->
	<%#= render "/shared/dbc_slider" %>
	<!-- banner slider End Here -->

	

	<div class="content-wrapper" id="page-info">
	    <div class="container">
			<!-- Our Story Section Start Here -->
			<section class="our-story row">
				<div class="col-xs-12">
					<header class="story-heading section-header">
						<h2>Business Man of Faith - Man of the Year: <span style="font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif; font-style: italic;">Mr. John Losey</span></h2></br>
						<%= image_tag ('bootcamp/moty-2018.jpg') %>
					</section class="live-comment">
						<article class="media comment margin-top-30 text-center">
			                <div class="media-body">
			                  <header>
			                    <h2 class="media-heading"><i class="fa fa-quote-left quote-mark"></i>Integrity is the space between a man's actions and his words.<i class="fa fa-quote-right quote-mark"></i></h2>
			                  </header>
			                  <p><em>Scott Caesar</em></p>
			                </div>
			            </article>
					</section>
						<p style="font: Audiowide; font-size: 18px;">MDN bestows the prestigious Man of the Year Award each year to a man of outstanding character and integrity. The award recognizes a “Businessman of Faith” who lives and works by God’s biblical principles of success. Nominations are received by year’s end for the honoree to be chosen.</p>
						    
						<!-- <citation>1Corinthians 13:11</citation> -->
					</header>
					<header class="story-heading section-header">
	                  <%= image_tag ('bootcamp/previous-moty.jpg') %>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-12 margin-bottom-30">
							<!-- <div class="center"><%#= image_tag("bootcamp/2018_dbc_poster.jpg") %></div> -->


						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
