	
<div id="main">

	<!-- banner slider Start Here -->
	<%#= render "/shared/dbc_slider" %>
	<!-- banner slider End Here -->

	

	<div class="content-wrapper" id="page-info">
	    <div class="container">
			<!-- Our Story Section Start Here -->
			<section class="our-story row">
				<div class="col-xs-12">
					<header class="story-heading section-header">
						<h2>MDN Man of the Year 2018: <strong>Mr. John Losey</strong></h2></br>
						<%= image_tag ('bootcamp/moty-2018.jpg') %>
					</section class="live-comment">
						<article class="media comment margin-top-30 text-center">
			                <div class="media-body">
			                  <header>
			                    <h2 class="media-heading"><i class="fa fa-quote-left quote-mark"></i>Integrity is the space between a man's actions and his words.<i class="fa fa-quote-right quote-mark"></i></h2>
			                  </header>
			                  <p><em>Scott Caesar</em></p>
			                </div>
			            </article>
					</section>
						<p style="font: Audiowide; font-size: 18px;">Since 1996 thousands of men have been biblically trained as MDN’s vision is to see “One Million Men Trained in the Word of God by the Church of God.” Our mission continues to be rooted in the Gospel of Jesus Christ as men have experienced the joy of realizing their freedom through MDN’s system of male discipleship as the Gospel becomes practical and attractive, affecting their families, church and community.</p>

						<h3>Recognition</h3>
						<p>The MDN Man of the Year award recognizes a man who has positively influenced the church, his family and community. He has demonstrated a love and zeal for Christ which is evidenced by growth in his spiritual life, family life and church life. He goes the distance in ministry with a strong conviction in building up others to live in the freedom that Christ provides through the Gospel that makes men whole. </p>
						    
						<!-- <citation>1Corinthians 13:11</citation> -->
					</header>
					<header class="story-heading section-header">
	                  <%= image_tag ('bootcamp/previous-moty.jpg') %>
					</header>
					<div class="row">
						<div class="col-xs-12 col-sm-12 margin-bottom-30">
							<!-- <div class="center"><%#= image_tag("bootcamp/2018_dbc_poster.jpg") %></div> -->


						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
