	
<div id="main">

	<!-- banner slider Start Here -->
	<%#= render "/shared/dbc_slider" %>
	<!-- banner slider End Here -->

	

	<div class="content-wrapper" id="page-info">
	    <div class="container">
			<!-- Our Story Section Start Here -->
			<section class="our-story row">
				<div class="col-xs-12">
					<header class="story-heading section-header">
						<h2>Businessmen of Faith<sup>&#153;</sup> - Man of the Year: <span style="font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif; font-style: italic;">Mr. John Losey</span></h2></br>
						<%= image_tag ('bootcamp/moty-2018.jpg') %>
						</section class="live-comment">
							<article class="media comment margin-top-30 text-center">
				                <div class="media-body">
				                  <header>
				                    <h2 class="media-heading"><i class="fa fa-quote-left quote-mark"></i>Integrity is the space between a man's actions and his words.<i class="fa fa-quote-right quote-mark"></i></h2>
				                  </header>
				                  <p><em>Scott Caesar</em></p>
				                </div>
				            </article>
						</section>
						<p style="font: Audiowide; font-size: 18px;">MDN bestows the prestigious Man of the Year Award each year to a man of outstanding character and integrity. The award recognizes a “Businessman of Faith” who lives and works by God’s biblical principles of success. Nominations are received by year’s end for the honoree to be chosen.</p>

	                    <%= image_tag ('bootcamp/previous-moty.jpg') %>
					</header>
					<h2 class="media-heading">Recognition</h2>
					<p style="font: Audiowide; font-size: 18px;">
					The MDN Man of the Year award has also recognized men who have positively influenced the church, their families and communities. These men have demonstrated a love and zeal for Christ, evidenced by growth in their spiritual lives, family lives and church lives. These men go the distance in ministry with a strong conviction to build up others to live in the freedom that Christ provides through the Gospel that makes men whole. </p></br></br>


					<p style="font: Audiowide; font-size: 16px; font-style: italic;">Men’s Discipleship Network (MDN) has helped thousands of men to grow in the grace and knowledge of God and His word for 22 years. MDN presents large men’s events and smaller regional events, as well as provides training and resources for churches, pastors and men’s leaders in how to disciple men. MDN’s vision is to see one million men trained in the word of God by the church of God.</p>
					
				</div>
			</section>
		</div>
	</div>
</div>
