<div class="container">
	<div class="row">
		<div class="col-xs-12 center">
			<h1 class="text-center">Tell Us Your Story</h1></br>
			<p>Coming soon is a feature that will enable you to share your story with us. We are looking forward to hearing about how God is working in your life.</p>

			<%= image_tag("graphics/38910271_s.jpg") %>

		</div>
	</div>
</div>