<div class="container">
		<!-- Our Story Section Start Here -->
		<section class="our-story row">
			<div class="col-xs-12">
				<header class="story-heading section-header">
					<h2><strong>Scott Caesar</strong> Our Founder's Story </h2>
				</header>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<section class="slider-wrap flex-slide flexslider">
								<%= image_tag("photos/scott_caesar_bio.jpg") %>
						</section>
					</div>
					<div class="col-xs-12 col-sm-7">
						<strong class="article-sammury">
								Scott Caesar is the Men’s Pastor and Founder of the Men’s Discipleship Network. MDN celebrates 20th years in ministry to men and their families.					
						</strong>
						<p>
							He is the author of the W.E.A.P.O.N.S. ® Curriculum for Men series which provides comprehensive training on the most vital truths for the Christian man. The Men’s Discipleship Network’s system of male discipleship has seen unprecedented growth in the Northeast United States due to message–driven events and church curriculum cementing “Truth that Transforms with Training that Sustains.” This is all done in partnership with the local church as over 100,000 men from over 1000 churches have been trained through this Discipleship System.
						</p>
						<p>
							As an ordained minister, speaker and writer, Scott’s passionate calling is to assist men in their spiritual growth by replacing the lies of the world with the truth of the Scripture, assisting them in experiencing the presence and love of God. To see men to live free, enabling them to be responsible leaders in their homes, churches and communities.
						</p>
						<p>
							Friends and Mentors, the late Dr. Edwin Louis Cole, Promise Keepers® Founder, Bill McCartney, have shaped and molded Scott as he stands in the gap with the Local Church as an advocate for Christian men, not ceasing until revival through discipleship takes place.
						</p>
						<p>
							Pastor Scott hosts the radio show A New Kind of Man as well as Manhood Minutes. He is a speaker at Churches, Men’s Discipleship Boot Camp®, retreats as well as the One-day W.E.A.P.O.N.S.® Intensives for Men done in the local church. These events help Church leaders to teach and train their men in consistent male discipleship.
						</p>
						<p>
							Scott’s greatest thrill is that God calls him Son through Jesus Christ, Debbie calls him hers and Kimberly, Vincent and Nicholas call him Dad. He resides in Massapequa Park, NY.
						</p>
						<p>
							Thousands of men have realized the joy of being set free and living free as the Gospel becomes practical and attractive, creating a multiplying effect on men in the church and community.

						</p>
					</div>
				</div>
			</div>
		</section>
</div>