				<div class="content-wrapper container" id="page-info">
					<div class="row">
						<div class="col-xs-12">
							<article class="blog blog-details anim-section">
								<figure>
									<div class="videoWrapper">
										 <iframe src="https://player.vimeo.com/video/192366254" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
								 
								</figure>
								<div class="row">
									<div class="col-xs-12 col-sm-10 col-sm-offset-1 caption">
										<h2 class="h1">MDN Celebrates 20 Years of Ministry to Men</h2>
										<p>
											It all began with God's call on a man, the mentoring of the man, and the men and women that God brought to serve along side him. It all points to God working in the lives of men, their families, and their churches. Watch the video to see our miraculous story of how the call of God on Pastor Scott Caesar has burst into an unquenchable movement of God among men.
										</p>
									</div>
								</div>
							</article>



						</div>
					</div>
				</div>