<div class="cause-page content-wrapper" id="page-info">
    <div class="container">
        <div class="anim-section">
			<div class="row">
				<div class="col-xs-12 col-sm-9 left-block event_page">

	    <!-- Beginning of Download Resource  -->

					    
				    <div class="event_heading clearfix">
				    	<div class="event_detail">
							<figure>
								<!-- Image aspect ratio should be 850 x 360 -->
								<%= image_tag("resources/certificate_of_completion_lg.jpg") %>
							</figure>
					    </div> 
				        <h2><a href="#">Certificate of Completion for W.E.A.P.O.N.S. Curriculum</a></h2>
				       
			            <div class="event_descriptions">
			                 <p>Celebrate your the achievement of your men in completing this life changing curriculum for men. Acknowledge this milestone by presenting this certificate of completion to each man who has completed the W.E.A.P.O.N.S. curriculum.</p>
		                          
	                         <a href="resources/certificate_of_completion.pdf" class="btn btn-default" target="_blank">Download</a>
	                    </div> 
	                </div>
	                                        
	   <!-- Beginning of Video Resource  -->
	                <div class="event_heading clearfix">             
					    <div class="event_video">
					        <div class="video  ">
					            <iframe src="https://player.vimeo.com/video/171831200?byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						    </div>
					
					        <div class="event_heading clearfix">
					            <h2><a href="#">Sword of Man - Verbal Integrity - W.E.A.P.O.N.S.® Curriculum for Men</a></h2>
					            <div class="event_descriptions">
			                        <p>A man's word is valuable. The biggest reason for divorce today is a man who does not keep his word. When a man keeps his word, he gives his wife value. When a word goes unfilled to a women, the man's word starts to lose value. Unfilled promises reaps disrespect. God designed us to be a imitator of Him. Every word Jesus spoke had purpose, motive and had love. The words we speak also have tremendous purpose and value. Use your words wisely.</p>
		                        </div> 
		                    </div>
		                </div>
		            </div>

	    <!-- Beginning of Video Resource  -->
	                <div class="event_heading clearfix">             
					    <div class="event_video">
					        <div class="video  ">
					            <iframe src="https://player.vimeo.com/video/141131584?byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						    </div>
					        <div class="event_heading clearfix">
					            <h2><a href="#">Man of Association - Permission Granted - W.E.A.P.O.N.S.® Curriculum for Men</a></h2>
					            <div class="event_descriptions">
			                        <p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic Association: Permission Granted</p>
		                        </div> 
		                    </div>
		                </div>
		            </div>


		<!-- Beginning of Video Resource  -->
	                <div class="event_heading clearfix">             
					    <div class="event_video">
					        <div class="video  ">
					            <iframe src="https://player.vimeo.com/video/141088323?byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						    </div>
					
					        <div class="event_heading clearfix">
					            <h2><a href="#">Man of Habit: Expunge Part I - W.E.A.P.O.N.S.® Curriculum - Habits, History of Habit-Strongholds</a></h2>
					            <div class="event_descriptions">
			                        <p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is form the W.E.A.P.O.N.S.® Curriculum Topic Expunge: Habits that Hinder</p>
		                        </div> 
		                    </div>
		                </div>
		            </div>

		<!-- Beginning of Video Resource  -->
	                <div class="event_heading clearfix">             
					    <div class="event_video">
					        <div class="video  ">
					            <iframe src="https://player.vimeo.com/video/171831200?byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						    </div>
					
					        <div class="event_heading clearfix">
					            <h2><a href="#">Man of Habit - Part II - Expunge - W.E.A.P.O.N.S.® Curriculum - Lust - Romans 7 & 8</a></h2>
					            <div class="event_descriptions">
			                        <p>Men's Pastor Scott Caesar is recorded live at Men's Discipleship Network's Weekly Leadership Bible Studies on Biblical Manhood. This Session is from the W.E.A.P.O.N.S.® Curriculum Topic Expunge: Habits that Hinder, Part II</p>
		                        </div> 
		                    </div>
		                </div>
		            </div>


	    <!-- End of Resources -->

	            </div>
	        </div>
        </div>
    </div>
</div>