				<div class="container mission-page" id="page-info">
					<div class="row">
						<div class="col-xs-12">
							<!-- Help Us Section Start Here-->
							<section class="help-us">
								<header class="page-header section-header clearfix">
									<h2>The MDN System of <strong class="border-none">Male Discipleship</strong></h2>
								</header>
								<figure>
									<%= image_tag("graphics/mdn_system_wide.jpg") %>
								</figure>
							</section>
							<!-- Help Us Section End Here-->
							<!-- Process Step Section Start Here-->
							<section class="process-section anim-section text-center">
								<header class="page-header section-header clearfix">
									<h2>Biblical truth and training  <strong>Systematized for Success</strong></h2>
								</header>
								<div class="row processes">
									<div class="col-xs-12 col-sm-3">
										<div class="process-step">
											Step 1
										</div>
										<h3 class="h4">MDN Curriculum</h3>
										<p>
											Inspired by Scripture and Taught by You, MDN Curriculum provides powerful, engaging content for the pastor or men's leader to train and disciple your men. The curriculum includes training videos to assist the men's leader to prepare for each life changing session.
										</p>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="process-step">
											Step 2
										</div>
										<h3 class="h4">Leadership Training</h3>
										<p>
											We know that many pastors and men's leaders aren't comfortable or prepared to lead other men. MDN provides leadership training that helps these leaders understand how men learn, how to engage men, and how to lead them in the truths that will transform their lives.
										</p>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="process-step">
											Step 3
										</div>
										<h3 class="h4">Church Men</h3>
										<p>
											God has placed the mantle of responsibility in the Church to men. The development of the men of the Church is essential to the health, growth, and impact of the local body of Christ. Use of MDN Curriculum by competent and confident teachers and leaders will develop the men to take on this mantle of responsibility.
										</p>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="process-step">
											Step 4
										</div>
										<h3 class="h4">Develop & Raise Up Leaders</h3>
										<p>
											As men of the local Church are developed, they are raised up as leaders to be trusted with greater responsibility in the church to come alongside and help to fulfill the mission that God has given to that pastor. These men in turn learn to teach, train, and disciple other men in the church. The cycle is repeated.
										</p>
									</div>
								</div>
								<p class="text-center">
									<a data-toggle="modal" href="/contact_us" class="btn btn-default btn-lg join-today">CONTACT US</a>
								</p>
							</section>
							<!-- Process Step Section End Here-->
						</div>
					</div>
				</div>