<div class="content-wrapper container" id="page-info">
	<div class="row">
		<div class="col-xs-12">
			<header class="">
						<h2>A Big Vision. <strong class="border-none">A Bigger God.</strong></h2>
			</header>
			<article class="blog blog-details anim-section">
				<div class="row">
					<div class="col-xs-12">
						<%= image_tag ('one_million_men_wide.jpg') %>
				    </div>
					<div class="col-xs-12 col-sm-10 caption">
						<h2>What we do</h2>
						<p>
							The vision that God has given Men's Discipleship Network is to see One Million Men trained in the Word of God by the Word of God. MDN exists to assist the local church achieve the mission of discipling it's men. We do this by developing curriculum, conducting leadership training workshops, and holding large regional men's events that gather churches from across the body of Christ to rally together.
						</p>
					</div>
				</div>
			</article>



		</div>
	</div>
</div>