<div class="content-wrapper container" id="page-info">
	<div class="row">
		<div class="col-xs-12">
			<header class="">
						<h2>A Big Vision. <strong class="border-none">A Bigger God.</strong></h2>
			</header>
			<article class="blog blog-details anim-section">
				<div class="row">
					<div class="col-xs-12 col-sm-10 caption">
						<%= image_tag ('one_million_men_wide_lg.jpg') %>
				    </div>
					<div class="col-xs-12 col-sm-10 caption">
						<h2>Our Vision</h2>
						<p>
							The vision that God has given Men's Discipleship Network is to see One Million Men trained in the Word of God by the Word of God. MDN exists to assist the local church achieve the mission of discipling its men. We do this by developing curriculum, conducting leadership training workshops, and holding large regional men's events that gather churches from across the body of Christ to rally together.
						</p>
						<h2>Our Mission</h2>
						<p>
							Our mission is to see men set free from the lies they believe and then live, to see men live free bearing the image of Jesus Christ, and to see men lead in their families, churches, and market place. 
						</p>
					</div>
				</div>
			</article>



		</div>
	</div>
</div>