<div class="content-wrapper container" id="page-info">
	<div class="row">
		<!-- <div class="col-xs-1"></div> -->
		<div class="col-xs-12">
			<header class="story-heading section-header">
					<h2>A Big Vision for <strong class="">A Greater God.</strong></h2>
			</header>

			<article class="blog blog-details anim-section">
				
					<div class="col-xs-12 caption">
						<%= image_tag ('one_million_men_wide_lg.jpg') %>
				    </div>
					<div class="col-xs-12 caption">
						<h2>Our Vision</h2>
						<p>
							<span style="font-size: 1.5em;">To see men set free from the lies they believe then live. To see men live free, bearing the image of Jesus Christ. To see men lead in their families, church and marketplace.</span>
						</p>
						<h2>Our Mission</h2>
						<p>
							<span style="font-size: 1.5em;">To see one million men trained in the Word of God by the Church of God by delivering a system of male discipleship to the Church. To provide biblically sound content that promotes consistency in mature manhood.</span>
						</p>
					</div>
				</div>
			</article>
		</div>
		<!-- <div class="col-xs-1"></div> -->
	</div>
</div>