/* Essential Ruby on Rails css start */
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
 }

 /* Essential Ruby on Rails css end */

 /* SC - Custom Slider Settings */
 .sc-slider-heading strong {
 	font-size: 1.5em;
 	
 }

/* SC - needed this because there was an element.style somewhere (possibly assigned to an li) that was forcing text black below 1024 screen size */
 .white {
 	color: #FFF !important;
 }

 /* Centering video wrapper css start */

.trans-black {
	width: 370px;
	height: 11.07em;
	background: rgba(30,9,9,0.9);
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

 /* Centering video wrapper css end */

.messagebox {height: 300px;}

.margin-top-30 {margin-top: 30px;}
.margin-bottom-30 {margin-bottom: 30px;}

.font18 {font-size: 18px;}
.font20 {font-size: 20px;}
.font24 {font-size: 24px;}
.center {text-align: center;}

.full {text-align: justify; text-justify: inter-word;}

.mailer_header {height: 30px; width: 100%;}

.sponsors { background: white; }
.sponsors-thumb {
	height: 150px;
	// width: 300px;
	vertical-align: bottom;
	margin-bottom: 10px;
}
.sponsor-caption {
	font-size: 10px;
	height: 50px;
}

.menu-color {
	background-color: #fff;
	color: #fff;
}

.yellow_btn {
  background-color: #E7BD15;
  color: #E7BD15;
}

.blue-btn {
  background-color: #232E5B;
  color: #232E5B;
}

/* Custom Bootstrap Blue Button START */
.btn-blue:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
   	-webkit-box-shadow: none;
   	box-shadow: none;
  	background-image: none;
 }

.btn-blue {
  	background: #232E5B;
   	filter: none;
  	border-color: #232E5B;
  	color: #fff;
 }

.btn-blue:hover, .btn-blue:focus {
   	background: #fff;
  	border-color: #232E5B;
    color: #232E5B;
}

.btn-blue:active, .btn-blue.active {
    background-color: rgba(0, 0, 0, 0);
}

.btn-blue:disabled, .btn-blue[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}
/* Custom Bootstrap Blue Button END*/

/* This is CSS for the drag and drop sort */
.sortable-placeholder {
	border: 1px dashed #CCC;
	background-color: #f9f9f9;
	height: 80px;
	margin-bottom: 10px;
}
.sortable {
	display: list-item;
	// background-color: #002233;
}


#homepage .video-section img {
	height: 100%;
}

.our-sponsors .thumbnail { }

.definition p {
	line-height: 130%;
	font-family: Courier;
}
.definition {
	font-family: Courier;
}

.citation {
	font-size: 9pt;
	font-style: italic;
}

/*bootcamp*/
.bootcamp {
	background: url(image-path('photos/men_standing_together.jpg')) center 0 no-repeat;
	background-size: cover;
	padding: 103px 0 127px;
	margin-bottom: 60px;
	background-attachment: fixed;
}
.bootcamp .h1 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 29px;
	font-weight: 300;
}
.bootcamp .h1 small {
	border-bottom: 0;
}
.bootcamp p {
	color: #fff;
	margin-bottom: 46px;
	padding-right: 69px
}
.bootcamp .btn-theme {
	// color: #ecc731;
	color: #232E5B;
}
.bootcamp .btn-theme:hover, .bootcamp .btn-theme:focus {
	color: #fff;
}

/* 22.)Event Details
 ----------------------------------------- */

.event_detail{
	position: relative;
}
.event_date{
	left:0;
	top:0;
	width:80px;
	position: absolute;
	text-align: center;
	padding:18px 23px;
	}
.event_date strong{
	display: block;
	font-weight: 700;
	font-size: 32px;
	line-height: 0.8;
	color:#26211d;
	
}
.event_date span{
	line-height: 1;
	font-size: 16px;
	color:#26211d;
	font-weight: 700;
}
.event_heading h2{
	padding-top:42px;
	margin:0;
	padding-bottom:4px;
}
.event_heading h2 a{
	font-size: 36px;
	color:#26211d;
	font-weight: 300;
}
.event_time{
	padding:19px 0 22px 0;
}
 .venue_block{
 	 float: left;
    padding-left: 34px;
    width: 211px;
    position:relative;
 }
.location-svg{
	position:absolute;
	left:0;
	top:0;
	width:20px;
	height:25px;
} 
.venue_block span{
	font-size: 17px;
	text-transform: capitalize;
	 
	float: left;
	  line-height: 1;
}
.venue_block strong{
	font-size: 13px;
	font-weight:700;
	text-transform: uppercase;
	 line-height: 2.2;
	 padding-left: 5px;
	   line-height: 1;
	   color:#26211d;
}

 .date_block{
 	
    float: left;
    padding-left: 34px;
    width: 236px;
    position:relative;
   
 }
.date-svg{
	position:absolute;
	left:0;
	top:0;
	width:22px;
	height:22px
} 
.date_block span{
	font-size: 17px;
	text-transform: capitalize;
	 line-height: 2.2;
	 padding-left: 5px;
	  line-height: 1;
}
.date_block strong{
	font-size: 13px;
		 color:#26211d;
    font-weight:700;	 
}

 .time_block{
 	
    float: left;
    padding-left: 34px;
    width: 236px;
    position:relative;
     
 }
 .time-svg{
 	position:absolute;
 	left:0;
 	top:0;
 	width:22px;
 	height:22px;
 }
.time_block span{
	font-size: 17px;
	text-transform: capitalize;
	 line-height: 2.2;
	 padding-left: 5px;
	  line-height: 1;
}
.time_block strong{
	font-size: 13px;
	text-transform: uppercase;
	color:#26211d;
    font-weight:700;
}

.event_description p{
	font-size: 14px;
	padding:19px 0;
	margin:0;
	color:#727272;
}
.event_descript{
	background-color: #fff; 
	padding:53px 0;

	 
}
.event_descript p{
	font-size: 18px;
	padding:27px 94px 25px 27px;
	margin:0;
	background-color:#efece1;
	font-weight: 300;
	}
	.hightlight_event {
	padding-right:68px;
}
.hightlight_event h2 {
	color:#26211d;
	font-size:36px;
	font-weight: 300;
}
.hightlight_event p{
	color:#9f9f9f;
	 
}
.hightlight_rightblock{
	position: relative;
	text-align: right;
}
.hightlight_rightblock::after{
	   border: 3px solid #fff;
    content: "";
    height: 223px;
    position: absolute;
    right: 10px;
    top: 11px;
    width: 274px;
}
.hightlight_rightblock > figure {
 
}
.hightlight_content{
	  right: 160px;
    position: absolute;
    top: 128px;
    z-index: 1;
	
}
.forward_content {
    padding-top: 91px;
}
.forward_content .next{
	display: block;
    float: left;
    font-size: 13px;
    font-weight: 700;
    height: 39px;
    line-height: 2.7;
    padding: 0 38px;
    text-transform: uppercase;
	
}
.forward_content .previous{
	display: block;
    float: right;
    font-size: 13px;
    font-weight: 700;
    height: 39px;
    line-height: 2.7;
    padding: 0 27px;
    text-transform: uppercase;
}
.media > ul {
    padding-bottom: 8px;
}

aside ul.tag_element{
	padding-top:13px;
}
aside ul.tag_element li{
    padding: 13px 10px;
    display: inline-block;
    width:auto;
    margin: 0 7px 0 0;
	text-align:center; 
}
 aside ul.tag_element li:nth-child(3){
 	padding: 13px 26px;
 }
 aside ul.tag_element li:nth-child(9){
 	padding: 13px 26px;
 }
.tag_element li a{
    font-size: 14px;
    margin: 0;
    text-transform: capitalize;
    color:#727272;
     margin:0;
}


/*  23.) Event_page_details.html
  --------------------------------------- */
 
 .event_descriptions > p {
 	padding-bottom: 25px;
}
.event_heading{
 	padding-bottom:54px;
 	 
 }
.event_page .event_heading{
 	 
 	border-bottom: 2px solid #e8e8e8;
 }
.event_descriptions > a {
 	color:#26211d;
 	padding: 10px 31px;
 	border:2px solid #4d4641;
 	text-transform: uppercase;
 	text-align: center;
 	display: inline-block;
 	font-weight: 400;
 	
}
.event_descriptions > a:hover {
     transition: all 0.4s ease-in-out 0s;
    
}
.event_info{
 	padding-top:60px;
 }
.event_video{
 	padding-top:60px;
 }
.event_video .event_heading {
  	border: hidden;
  }


/*--manstats.html.erb-- start*/

.stats {
	background: #EAEAE3;
	margin: 0px 20px 10px 20px;

	border: 1px solid #000000;
	box-shadow: 5px 5px 10px #888;
	-moz-box-shadow: 5px 5px 10px #888;
	-webkit-box-shadow: 5px 5px 10px #888;
}
.stats n {
	font-size: 10px;
	vertical-align: super;
}

.stats f {
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: italic;
	font-size: 10px;
}
.stats h1 {
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 140%;

}
.stats h3 {
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.stats ul {
	list-style-type: square;
	list-style-position: outside;
	padding: 1em;
	line-height: 120%;
}
.footnote li {
	list-style-type: none;
	list-style-position: outside;
	line-height: 90%;
}
/*--manstats.html.erb-- end*/

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

