/* Essential Ruby on Rails css start */
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
 }

/* Essential Ruby on Rails css start */



.trans-black {
	width: 370px;
	height: 11.07em;
	background: rgba(30,9,9,0.9);
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.messagebox {height: 300px;}

.font18 {font-size: 18px;}
.font20 {font-size: 20px;}
.font24 {font-size: 24px;}
.center {text-align: center;}

.full {text-align: justify; text-justify: inter-word;}

.mailer_header {height: 30px; width: 100%;}

.sponsors { background: white; }
.sponsors-thumb {
	height: 150px;
	// width: 300px;
	vertical-align: bottom;
	margin-bottom: 10px;
}
.sponsor-caption {
	font-size: 10px;
	height: 50px;
}

.yellow_btn {
  background-color: #E7BD15;
  color: #E7BD15;
}

/* This is CSS for the drag and drop sort */
.sortable-placeholder {
	border: 1px dashed #CCC;
	background-color: #f9f9f9;
	height: 80px;
	margin-bottom: 10px;
}
.sortable {
	display: list-item;
	// background-color: #002233;
}


.our-sponsors .thumbnail { }

.definition p {
	line-height: 130%;
	font-family: Courier;
}
.definition {
	font-family: Courier;
}

.citation {
	font-size: 9pt;
	font-style: italic;
}

/*bootcamp*/
.bootcamp {
	background: url('photos/men_standing_together.jpg') center 0 no-repeat;
	background-size: cover;
	padding: 103px 0 127px;
	margin-bottom: 60px;
	background-attachment: fixed;
}
.bootcamp .h1 {
	font-size: 40px;
	color: #fff;
	margin-bottom: 29px;
	font-weight: 300;
}
.bootcamp .h1 small {
	border-bottom: 0;
}
.bootcamp p {
	color: #fff;
	margin-bottom: 46px;
	padding-right: 69px
}
.bootcamp .btn-theme {
	color: #ecc731;
}
.bootcamp .btn-theme:hover, .bootcamp .btn-theme:focus {
	color: #fff;
}
