<li data-index="rs-83" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="http://www.eventzilla.net/web/event/mens-discipleship-network-charity-golf-outing-2138904543"  data-target="_blank"  data-thumb=<%= image_tag "slider/100x50_0f01a-Golf-Graphic-Website.jpg" %> data-delay="8950"  data-rotate="0"  data-saveperformance="off"  data-title="Golf Outing" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
        <%= image_tag "slider/0f01a-Golf-Graphic-Website.jpg", alt:"", data: { bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "off", class:"rev-slidebg" } %>
		<!-- LAYERS -->

		<!-- LAYER NR. 67 -->
		<div class="tp-caption     rev_group" 
			 id="slide-83-layer-9" 
			 data-x="['left','left','left','left']" data-hoffset="['115','98','145','-26']" 
			 data-y="['top','top','top','top']" data-voffset="['96','112','26','-13']" 
						data-width="532"
			data-height="['256','242','242','242']"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1230,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5; min-width: 532px; max-width: 532px; max-width: 256px; max-width: 256px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);">
		<!-- LAYER NR. 68 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-83-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['15','54','15','40']" 
			 data-y="['top','top','top','top']" data-voffset="['16','30','16','24']" 
						data-width="['517','433','450','450']"
			data-height="['203','184','185','185']"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+470","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;background-color:rgba(51, 51, 51, 0.9);"> </div>

		<!-- LAYER NR. 69 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-17" 
			 data-x="['left','left','left','left']" data-hoffset="['50','51','51','88']" 
			 data-y="['top','top','top','top']" data-voffset="['170','125','125','252']" 
						data-fontsize="['38','32','32','32']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 7; white-space: nowrap; font-size: 38px; line-height: 22px; font-weight: 300; color: rgba(255,255,255,1);font-family:Lato;">
 </div>

		<!-- LAYER NR. 70 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['31','74','70','86']" 
			 data-y="['top','top','top','top']" data-voffset="['68','75','63','83']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 8; white-space: nowrap; font-size: 32px; line-height: 22px; font-weight: 300; color: rgba(255,255,255,1);font-family:lato;">Colonial Springs Golf Club </div>

		<!-- LAYER NR. 71 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['28','74','53','74']" 
			 data-y="['top','top','top','top']" data-voffset="['30','43','28','49']" 
						data-fontsize="['40','34','34','34']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 9; white-space: nowrap; font-size: 40px; line-height: 22px; font-weight: 700; color: rgba(255,255,255,1);font-family:Lato;">MDN GOLF OUTING CLASSIC </div>

		<!-- LAYER NR. 72 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-7" 
			 data-x="['left','left','left','left']" data-hoffset="['31','72','45','69']" 
			 data-y="['top','top','top','top']" data-voffset="['175','173','157','175']" 
						data-fontsize="['38','32','32','32']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+470","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 10; white-space: nowrap; font-size: 38px; line-height: 22px; font-weight: 300; color: rgba(255,255,255,1);font-family:Lato;">Monday, September 25, 2017 </div>

		<!-- LAYER NR. 73 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-19" 
			 data-x="['left','left','left','left']" data-hoffset="['32','74','87','104']" 
			 data-y="['top','top','top','top']" data-voffset="['104','109','99','117']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 11; white-space: nowrap; font-size: 32px; line-height: 22px; font-weight: 300; color: rgba(255,255,255,1);font-family:lato;">Farmingdale, NY 11735 </div>
        </div>

		<!-- LAYER NR. 74 -->
		<div class="tp-caption     rev_group" 
			 id="slide-83-layer-10" 
			 data-x="['left','left','left','left']" data-hoffset="['95','117','257','112']" 
			 data-y="['top','top','top','top']" data-voffset="['319','336','249','197']" 
						data-width="335"
			data-height="104"
			data-whitespace="nowrap"
 
            data-type="group" 
			data-responsive_offset="on" 

            data-frames='[{"delay":1700,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 12; min-width: 335px; max-width: 335px; max-width: 104px; max-width: 104px; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);">
		<!-- LAYER NR. 75 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-83-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['35','35','35','35']" 
			 data-y="['top','top','top','top']" data-voffset="['24','24','24','24']" 
						data-width="170"
			data-height="50"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-actions='[{"event":"click","action":"simplelink","target":"_blank","url":"http:\/\/www.eventzilla.net\/web\/event\/mens-discipleship-network-charity-golf-outing-2138904543","delay":""}]'
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 13;background-color:rgba(35, 46, 91, 1);"> </div>

		<!-- LAYER NR. 76 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['55','55','55','55']" 
			 data-y="['top','top','top','top']" data-voffset="['38','38','38','38']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 

            data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 14; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255,255,255,1);font-family:Open Sans;">Register Today </div>
        </div>

		<!-- LAYER NR. 77 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-83-layer-21" 
			 data-x="['left','left','left','left']" data-hoffset="['945','783','292','177']" 
			 data-y="['top','top','top','top']" data-voffset="['440','480','374','303']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+8630","speed":0,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 15;"><%= image_tag "slider/7ad02-MDN-Logo-Navy-with-White.png", alt:"", data: { ww: "['190px','190px','190px','123px']", hh: "['79px','79px','79px','51px']" } %> </div>
	</li>