<li data-index="rs-46" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-link="/system"   data-thumb="assets/100x50_b16fd-one_million_men_wide_lg_image_only.jpg"  data-delay="9000"  data-rotate="0"  data-saveperformance="off"  data-title="Million_Men" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<%= image_tag "slider/b16fd-one_million_men_wide_lg_image_only.jpg", alt:"", data: { bgposition: "center center", kenburns: "on", duration: "10000", ease:"Linear.easeNone", scalestart:"100", scaleend:"120", rotatestart:"0", rotateend:"0", offsetstart:"0 0", offsetend:"0 0", bgparallax:"10", class: "rev-slidebg" } %>
        <!-- <img src="assets/b16fd-one_million_men_wide_lg_image_only.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina> -->
		<!-- LAYERS -->

		<!-- LAYER NR. 14 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-46-layer-11" 
			 data-x="['left','left','left','left']" data-hoffset="['4','29','39','39']" 
			 data-y="['top','top','top','top']" data-voffset="['14','25','31','31']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":2050,"speed":1970,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4660","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 5;"><%= image_tag "slider/c2a33-one_million_men_txt.gif", alt:"", data: { ww:"['598px','524px','468px','389px']", hh:"['235px','206px','184px','153px']" } %> </div>

		<!-- LAYER NR. 15 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-46-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['890','733','542','340']" 
			 data-y="['top','top','top','top']" data-voffset="['437','446','378','331']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="image" 
			data-responsive_offset="on" 

            data-frames='[{"delay":2050,"speed":1960,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4670","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 6;"><%= image_tag "slider/6f226-mdn_logo_wh.gif", alt:"", data: { ww: "['222px','222px','171px','115px']", hh: "['83px','83px','64px','43px']" } %> </div>

         <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-75-layer-15" 
			 data-x="['left','left','left','left']" data-hoffset="['35','35','35','35']" 
			 data-y="['top','top','top','top']" data-voffset="['324','324','324','324']" 
						data-width="170"
			data-height="50"
			data-whitespace="nowrap"
 
            data-type="shape" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"http:\/\/events.eventzilla.net\/e\/mdn-weapons-intensive-at-syracuse-2138913779","delay":""}]'
			data-responsive_offset="on" 
			data-frames='[{"delay":2050,"speed":1960,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4670","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 15;background-color:rgba(35, 46, 91, 1.00);"> </div>
          <div class="tp-caption   tp-resizeme" 
			 id="slide-75-layer-12" 
			 data-x="['left','left','left','left']" data-hoffset="['55','55','55','55']" 
			 data-y="['top','top','top','top']" data-voffset="['338','338','338','338']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
            data-type="text" 
			data-responsive_offset="on" 
			data-frames='[{"delay":2050,"speed":1960,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4670","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            
            data-margintop="[0,0,0,0]"
            data-marginright="[0,0,0,0]"
            data-marginbottom="[0,0,0,0]"
            data-marginleft="[0,0,0,0]"
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"

            style="z-index: 16; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">LEARN MORE </div>
	</li>