<div class="row">
  <div class="col-xs-12">
    <div class="comment-block">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">

          <section class="live-comment">
            <h1><span style="font-size: 24pt";>Man&#183;ner&#183;isms</span> <span class="definition" style="font-size: 18pt">(`man,n&#601;r,izms)</h1>
  <span class="definition"><p>Definition: A short, pithy saying that expresses a basic truth or practical precept used for indoctrination of men in Biblical Truth.</p></span>
            
            <% @mannerisms.each do |mannerism| %>
              <article class="media comment">
                <div class="media-body">
                  <header>
                    <h4 class="media-heading"><i class="fa fa-quote-left quote-mark"></i><%= mannerism.quote %>"</h4>
                  </header>
                  <p><em><%= mannerism.author %></em></p>
                </div>
              </article>
            <% end %>
          </section>
        </div>

      </div>
    </div>
  </div>
</div>